<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main title text-center">ChuckNorrisAthon (v2)</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">  
      <form ng-submit="submit(playerName)" class="main form">
        <input type="text" placeholder="Player name" autofocus="autofocus" required="required" ng-model="playerName" class="form-control">
        <button type="submit" class="btn btn-block">Jump in</button>
      </form>
    </div>
    <div class="col-md-4">
      <div ng-show="message" class="alert alert-danger">
        <p ng-model="message">{{ message }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p class="main intro">Hello there, my name is Jace. This project originally started out as a class final that I decided to use a bunch of newer technologies for. Now it's my on going pet project. All of the jokes used in this game are provided by an awesome API I accidently stumbled upon, api.icndb.com. </p>
      <p class="main intro">Also, here is a link to the <a href="https://github.com/jacepp/ChuckNorrisAthon/tree/v2">source code</a>. Feel free to report issues, fork the project, or give feedback. Hope you enjoy! </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h4>How to play</h4>
      <ul>
        <li>Choose a username and click "Jump In"</li>
        <li>If there are at least two players, a Chuck Norris joke will be displayed in a light gray text.</li>
        <li>As you type in the provided text area, the letters you correctly type will be colored green. If you mis-type something, from the letter you made the mistake and on will be turned red until corrected.</li>
        <li>You will be able to see the progress of the player who types the fastest (unless it's you). They're position in the joke will be the white letter with a dark green background.</li>
        <li>Once you or the lead player finish typing the joke, a new one will appear within a couple seconds.</li>
        <li>To the right of the screen there is a list of players with their wins and losses. You will always be the top person in this list.</li>
        <li>Beneath the text area, there is a player leaderboard. It will display the players with the most wins, losses, or longest winning streak.</li>
        <li>Keep in mind that player's stats are based on socket sessions, this means if you leave or refresh the page, your stats will be reset.</li>
        <li>Most important of all, have fun.</li>
      </ul>
    </div>
  </div>
</div>